
<div id='delete-trip'>
	<div class='header'>
		Are you sure?
	</div>
	<div class='deletion-confirmation'>
		<p>Warning, deleting trip <b>{{name}}</b> also deletes <b><i>all</i></b> data attached to it.  This process cannot be undone.</p>
		<p>To proceed, type in the trip name below:</p>
		{{#if flash}}<div class='flash'><p><b>{{flash}}</b></p></div>{{/if}}
		<div class='form-group'>
			<div class='input-group'>
				<span class='input-group-addon'>&#xf0b1;</span>
				{{input value=tripname type='text' placeholder='Trip Name' class='form-control' autocomplete='off'}}
			</div>
		</div>
		<button class='cancel' style='width: 90px; float: left;' {{action 'renderMenuElement' 'SidebarTrips' 'sidebar-menu' 'trip' 'c'}}>Cancel</button>
		<button class='danger' disabled='disabled' style='width: 240px; float: right;' id='delete-trip-button' {{action 'delete_trip' on='click'}}>Delete</button>
	</div>
</div>