
	<section id='trips-menu'>
		<div class='trips-statistics'>
		</div>
		<div class='trips-container'>
			<div class='tripbox' id='create-new-trip' {{action 'initCreate'}}>
			+
			</div>
			{{#each}}
				<div class='tripbox'>
				    {{name}}
				    {{tripdate this date='start_date'}}
				    {{tripdate this date='end_date'}}
			   	</div>
			{{/each}}
		</div>
	</section>
	<section id='create-trip-dialog'>
		{{render 'sidebar.trips.create'}}
	</section>