<div id='splash' class='section primary-section' data-type='background' data-speed='5'>
	{{render "menu"}}
	<div class='grab-line'>
		Plan, Share, Explore.
		{{!--<div class='splash-get-started'>Get Started</div>--}}
	</div>
	<div id='splash-progress' class='next-panel' {{action 'shift' 'feature-1'}}><span class='chevron'></span></div>
</div>
<div id='feature-1' class='section'>
	<div class='feature-content'>
		<div class='feature-content-text centered' style='padding-bottom: 160px;'>
			<div class='feature-content-header'>Exploring the world is meant to be shared.</div>
			<div class='feature-content-desc'>
			We are building a brand new way for you to create, manage and share your travel plans and adventures. It's going to be stylish, powerful, and completely awesome.<br /><br />Interested? Let us show you what we're planning...
			</div>
		</div>
		<div class='feature-content-graphics'>
		</div>
		<div id='splash-progress' class='next-panel' {{action 'shift' 'feature-2'}}><span class='chevron dark'></span></div>
	</div>
</div>
<div id='feature-2' class='section primary-section' data-type='background' data-speed='5'>
	<div class='feature-content'>
		<div class='feature-content-text'>
			<div class='feature-content-header'>
			It's all about you.
			</div>
			<div class='feature-content-desc'>
			<h4>Tools to help your world go round.</h4>
<br />
From the first city search to the last photo upload, Intripd makes managing your trips and vacations a breeze. Keep tabs on every aspect of your planning, from hotel bookings to day trips, flight times to photo opportunities, and everything in between.
			</div>
			<div class='feature-content-graphics'>
			</div>
		</div>
	</div>
	<div id='splash-progress' class='next-panel' {{action 'shift' 'footer'}}><span class='chevron'></span></div>
</div>
<!--<div id='feature-3' class='section'>
</div>
<div id='feature-4' class='section'>
</div>
<div id='feature-5' class='section primary-section' data-type='background' data-speed='5'>
</div>-->
{{render "footer"}}
