
	<div id='trip-quickinfo-container'>
		<span>{{trip.name}}</span>
		<span>{{travelDates trip}}{{travelling}}</span>
	</div>
	<div id='user-quickinfo-container'>
		{{view App.TopbarTriggerView menu_context='TopbarFriends' width='300' icon='fontello-users'}}
		<div class='menu-item nohover'>
			<img {{bind-attr src='user_image'}} /> {{profile.firstName}} {{profile.lastName}}
		</div>
		<div class='menu-item'>
			<div class='fontello-logout' {{action 'logout' on='click'}}></div>
		</div>
	</div>
