<div id="navbar-vertical">
	<div style="height: 24px"></div>
	<div class="menu-item" data-item='search' {{action "loadModule" 'sidebar.search'}}>
		<div class="menu-item-icon">
			<img src="img/search-icon.png" height="24px" width="24px" />
		</div>
	</div>
	<div class="menu-item" data-item='profile' {{action 'loadModule' 'sidebar.user'}}>
		<div class="menu-item-icon">
			<img src="img/profile-icon.png" height="24px" width="24px" />
		</div>
	</div>
	<div class="menu-item" data-item='social'>
		<div class="menu-item-icon">
			<img src="img/connect.png" height="24px" width="24px" />
		</div>
	</div>
	<div class="menu-item" data-item='trips' {{action 'loadModule' 'sidebar.trips'}}>
		<div class="menu-item-icon">
			<img src="img/trip-icon.png" height="24px" width="24px" />
		</div>
	</div>
	<div class="menu-item" data-item='locations'>
		<div class="menu-item-icon">
			<img src="img/map-icon.png" height="24px" width="24px" />
		</div>
	</div>
	<div class="menu-item" data-item='media'>
		<div class="menu-item-icon">
			<img src="img/camera.png" height="24px" width="24px" />
		</div>
	</div>
	<div class="home-static" data-item="home">
		<div class="menu-item-icon home-icon">
			<img src="img/logo.png" width="24px" />
		</div>
	</div>
</div>
<div id="navbar-extend-button">
	<div class="active-button">
		<i class="fa fa-bars"></i>
	</div>
</div>
<div id="navbar-extended" class="extended">
	<div style="height: 24px"></div>
	<div class="menu-item-text" data-item='search' {{action 'loadModule' 'sidebar.search'}}>
		<div class="menu-extended-text">SEARCH</div>
	</div>
	<div class="menu-item-text" data-item='profile' {{action 'loadModule' 'sidebar.user'}}>
		<div class="menu-extended-text">PROFILE</div>
	</div>
	<div class="menu-item-text" data-item='social'>
		<div class="menu-extended-text">SOCIAL</div>
	</div>
	<div class="menu-item-text" data-item='trips' {{action 'loadModule' 'sidebar.trips'}}>
		<div class="menu-extended-text">TRIPS</div>
	</div>
	<div class="menu-item-text" data-item='locations'>
		<div class="menu-extended-text">LOCATIONS</div>
	</div>
	<div class="menu-item-text" data-item='media'>
		<div class="menu-extended-text">MEDIA</div>
	</div>
</div>
<div id="content-menu">
	{{outlet sidebar-content}}
</div>