			<div id="auth-register">
				<h3 class="auth-text-override"><b>Register</b></h3>
				<h6 class="auth-text-override" style="color: #c2c2c2; padding-top: 10px;">Already got an account? {{#linkTo 'auth.login'}}Log in here{{/linkTo}}</h6>
				{{#if flash}}
					<div class="alert alert-narrow alert-danger">{{flash}}</div>
				{{/if}}
				<form role="form" {{action 'registerUser' on='submit'}}>
					<div class="form-group auth-form-element-group">
						<label for="email" class="auth-form-label">Email Address</label>
						{{input value=email class="form-control auth-input" placeholder="Email Address" type="text"}}
					</div>
					<div class="form-group auth-form-element-group">
						<label for="password" class="auth-form-label">Password</label>
						{{input value=password type="password" class="form-control auth-input" placeholder="Password"}}
					</div>
					<div class="form-group auth-form-element-group">
						<label for="password" class="auth-form-label">Confirm Password</label>
						{{input value=confirmpassword type="password" class="form-control auth-input" placeholder="Confirm Password"}}
					</div>
					<div class="auth-text-override">
						<button type="submit" class="btn btn-success login-override" style="width: 100px;">Register</button>
					</div>
					<h6 class="auth-text-override" style="color: #c2c2c2; padding-top: 10px;">By registering you are agreeing to our {{#linkTo 'index'}}Terms of Service{{/linkTo}}</h6>
				</form>
				<div style="height:6px"></div>
				<div class="social-login" style="border-top: 1px solid #e4e4e4">
					<h6 class="auth-text-override" style="color: #c2c2c2; padding-top: 10px;">Coming soon - Register with one of these accounts</h6>
					<div class="auth-text-override">
						<button class="btn login-facebook btn-social" disabled="disabled"><span class="fa fa-facebook"></span></button>
						<button class="btn login-twitter btn-social" disabled="disabled"><span class="fa fa-twitter"></span></button>
						<button class="btn login-google btn-social" disabled="disabled"><span class="fa fa-google-plus"></span></button>
					</div>
				</div>
			</div>

