<!--<div class="container">
	<h4>{{firstName}} {{lastName}}</h4>
	<h6>{{email}}</h6>
	<a href="#" {{action 'logout'}}>Logout</a>
</div>-->

	<div class='user-content'>
		<div class='user-image'></div>
		<div class='user-name'>{{firstName}} {{lastName}}</div>
	</div>